.jusik{
    font-size: 1000%;
    text-align: center;
    border-bottom: solid 5px;
    background-color:#e3e9f7;
}
.본문{
    text-align: center;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}
.이전글{
    width: 200px;
    margin-top: 15%;
    text-align: center;
    font-size: 300%;
    margin-left: 27%;
    margin-right: 0%;
    border: 3px solid black; 
}
.다음글{
    width: 200px;
    margin-top: 15%;
    text-align: center;
    font-size: 300%;
    margin-left: 0%;
    margin-right: 27%;
    border: 3px solid black; 
}
.본문 ul{
    text-align: left;
    padding-left: 0%;
    margin-left: 0;
    font-size: 130%;
    margin-top: 7%;
}