.jusik{
    font-size: 1000%;
    text-align: center;
    border-bottom: solid 5px;
    background-color:#e3e9f7;
}
.본문{
    text-align: center;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
}
.본문 ul{
    text-align: left;
    padding-left: 0%;
    margin-left: 0;
    font-size: 130%;
    margin-top: 7%;
}